

@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-danger">Sorry</h1>
<h2 class="text-danger">This email has already been registed,please try another one!!!</h2>

