@{
    ViewBag.Title = "Home";
}
<body1>
    <div class="jumbotron" style="background-image:url('/Images/kan.gif');
 background-repeat: repeat;
    background-attachment: fixed;
">
        <h1 style="color:yellow" >Welcome To Monash News</h1>
        <img src="@Url.Content("~/Images/Monash.jpg")" style="width:600px; height:600px" />

    </div>
</body1>