@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<h1 class="text-danger">Sorry</h1>
<h2 class="text-danger">This email has already been registed,please try another one!!!</h2>

